<div style="height: 100%;">
  <mat-toolbar color="primary">
    <span>Travel Wishlist</span>
  </mat-toolbar>
  <div class="content">
    <div>
      <p>To create a new location right click on the map.</p>
      <p>To edit a location click on the marker. The <code>GLOVent</code> and <code>Current Location</code> markers
        cannot be
        edited or
        deleted.</p>
      <p>Everytime you refresh you become a new user.</p>
    </div>
    <div style="flex: 1 1 auto; position: relative;">
      <app-travel-map></app-travel-map>
    </div>
  </div>
</div>